/* CSS crunched with Crunch - http://crunchapp.net/ */
.aximDarkOrange{color:#eb6100;}
.aximMediumOrange{color:#f39700;}
.aximLightOrange{color:#ffcc00;}
.aximLightGray{color:#f0f0f0;}
.alert-aximnote{color:#323232;background-color:#f0f0f0;border-color:#f0f0f0;}
.navbar-inverse .navbar-inner{background:none repeat scroll 0% 0% #666666;background-image:url('picts/banner.png');}
.navbar-inverse .navbar-inner{border:0px none;box-shadow:none;border-radius:0px 0px 0px 0px;margin:0px;padding-left:0px;padding-right:0px;min-height:55px;position:relative;}
.ace-nav>li{line-height:55px;max-height:55px;background:none repeat scroll 0% 0% #2e6589;border-left:1px solid #dddddd;padding:0px;position:relative;}
#user_info{max-width:100px;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;line-height:15px;position:relative;top:12px;}
@media (min-width:422px) and (max-width:480px),(max-width:340px){#user_info{position:absolute;margin-top:17px;margin-left:1px;right:2px;z-index:1001;color:#777;font-size:14px;width:142px;max-width:142px;padding-left:8px;padding-right:8px;height:32px;line-height:30px;display:none;border-bottom:1px solid #e5e5e5;text-align:center;vertical-align:none;line-height:normal;}}.infobox-container{text-align:left;font-size:0px;}
#ace-settings-container{position:absolute;right:0px;top:100px;z-index:10;}
.btn-primary{background-color:#f39700 !important;border-color:#f39700;}
.btn-primary:hover{background-color:#eb6100 !important;}
input[type=radio]:checked+.lbl::before{content:none;color:#eb6100;}
h1,h2,h3,h4,h5,h6{margin:10px 0px;font-family:inherit;font-weight:200;line-height:20px;text-rendering:optimizelegibility;color:#000000;}
#page-content>.page-header:first-child>h1{padding:0px;margin:0px 8px;font-size:24px;font-weight:300;color:#eb6100;}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;}
label{font-weight:bold;color:#666464;}
.ace-nav>li.light-aximOrange{background:none repeat scroll 0% 0% #f39700;}
.ace-nav>li.light-aximCoffee{background:none repeat scroll 0% 0% #f5a15b;}
.ace-nav>li.light-aximBlack{background:none repeat scroll 0% 0% #000000;}
.dataTable thead th[class*="sorting_"]{color:#eb6100;}
.nav-list>li>a:hover{background-color:#ffffff;color:#f39700;}
.nav-list>li>a:focus{background-color:#f9f9f9;color:#f39700;}
.menu-min .nav-list>li:hover>a{color:#f39700;}
.ace-file-input label:before{display:inline-block;content:attr(data-title);position:absolute;right:0;top:0;bottom:0;padding:0 8px;line-height:24px;text-align:center;background-color:#f39700;color:#FFF;font-size:11px;font-weight:bold;border:2px solid #FFF;border-left-width:4px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s ;-ms-transition:all .3s;transition:all 0.3s;}
.icon-ok{background-position:-288px 0;color:#f39700;}
.ace-nav>li>a>[class*="icon-"]{font-size:1.7em;color:#eeeeee;vertical-align:middle;}
.table td{vertical-align:middle;}
td.right{text-align:right;}
.icon-6x{font-size:6em;}
.icon-6x.icon-border{border-width:6px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.icon-7x{font-size:7em;}
.icon-7x.icon-border{border-width:7px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
.icon-8x{font-size:8em;}
.icon-8x.icon-border{border-width:8px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
